@inject SignInManager<Member> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/84813265a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/site.css">
  <title>@ViewBag.Title</title>
</head>

<body class="bg-dark">
  <nav class="container navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
      @if (signInManager.IsSignedIn(User))
      {
        <li class="nav-item">
          <form asp-controller="Account" asp-action="Logout" method="POST">
            <button type="submit" class="btn btn-secondary text-white">
              Logout
            </button>
          </form>
        </li>
      }
    </ul>
  </nav>
  <div class="container text-light">
    @RenderBody()
  </div>
</body>

</html>